@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --clr-bg: #0a192f;
  --clr-font: #64ffda;
  --clr-first: rgb(37, 152, 156);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-bg);
  color: var(--clr-font);
  line-height: 1.8;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.header {
  min-height: 100vh;
  margin-top: 3.5em;
}

.header .nav {
  background-color: var(--clr-bg);
  opacity: 0.7;
  padding: 1em 1.5em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.header .nav .nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .nav .nav-header .links__scroll {
  background: var(--clr-bg);
  color: var(--clr-font);
  font-size: 1.1rem;
  letter-spacing: var(--spacing);
  display: block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}

.header .nav .nav-header .links__scroll:hover {
  color: var(--clr-first);
}

.header .nav .nav-header .nav-header__toggle {
  font-size: 1.5rem;
  color: var(--clr-font);
  background: transparent;
  border-color: transparent;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  cursor: pointer;
}

.header .nav .nav-header .nav-header__toggle:hover {
  color: var(--clr-first);
}

.header .nav .links-container {
  height: 0;
  overflow: hidden;
  -webkit-transition: var(--transition);
  transition: var(--transition);
}

.header .nav .links-container .links__scroll {
  background: var(--clr-bg);
  color: var(--clr-font);
  font-size: 1.1rem;
  letter-spacing: var(--spacing);
  display: block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}

.header .nav .links-container .links__scroll:hover {
  color: var(--clr-first);
}

.header .banner {
  min-height: 80vh;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.header .banner .banner__title {
  color: var(--clr-font);
  font-size: 3rem;
}

.header .banner .banner_paragraph {
  color: var(--clr-font);
  font-size: 1.5em;
  max-width: 60rem;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: 2.5rem;
  color: #818ba9;
}

.header .banner .btn {
  text-transform: uppercase;
  background: transparent;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  color: var(--clr-font);
  border-color: var(--clr-font);
  padding: 0.7rem 1.5rem;
  font-weight: bold;
}

.header .banner .btn:hover {
  background: var(--clr-font);
  opacity: 0.7;
  color: black;
}

.about {
  min-height: 100vh;
  padding-bottom: 3rem;
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
}

.about .title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}

.about .about__content {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 80vw;
}

.about .about__content .about__paragraph {
  color: var(--clr-font);
  max-width: 80vw;
  margin-bottom: 1.25rem;
  color: #818ba9;
}

.about .about__content .about__image {
  max-width: 20vw;
  min-width: 150px;
  max-height: 35vh;
}

.projects {
  min-height: 100vh;
  padding-bottom: 3rem;
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
  max-width: 80vw;
}

.projects .title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}

.projects .projects__content {
  margin-top: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .projects__content .projects__maincontent {
  border-radius: 1rem;
}

.projects .projects__content .projects__maincontent .projects__btncontainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 2em;
  min-width: 65vw;
}

.projects .projects__content .projects__maincontent .projects__btncontainer .tab-btn {
  background-color: var(--clr-bg);
  color: var(--clr-font);
  padding: 1rem 0;
  margin-bottom: 2rem;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border: 0.1rem solid var(--clr-font);
}

.projects .projects__content .projects__maincontent .projects__btncontainer .tab-btn:hover:not(.active) {
  background-color: var(--clr-font);
  color: var(--clr-bg);
  border-left-color: var(--clr-bg);
  border-right-color: var(--clr-bg);
}

.projects .projects__content .projects__maincontent .projects__btncontainer .tab-btn.active {
  background-color: var(--clr-font);
  color: var(--clr-bg);
}

.projects .projects__content .projects__maincontent .content {
  display: none;
}

.projects .projects__content .projects__maincontent .content .btn {
  text-transform: uppercase;
  background: transparent;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  color: var(--clr-font);
  border-color: var(--clr-font);
  padding: 0.7rem 1.5rem;
  font-weight: bold;
}

.projects .projects__content .projects__maincontent .content .btn:hover {
  background: var(--clr-font);
  opacity: 0.7;
  color: black;
}

.projects .projects__content .projects__maincontent .content .btn {
  display: block;
  text-align: center;
  margin-top: 2rem;
  margin-left: 2rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.projects .projects__content .projects__maincontent .content .content__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 60vw;
  color: #818ba9;
}

.projects .projects__content .projects__maincontent .content .content__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects .projects__content .projects__maincontent .content.active {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.experience {
  min-height: 100vh;
  padding-bottom: 3rem;
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
}

.experience .title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}

.experience .experience__content {
  margin-top: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.experience .experience__content .experience__paragraph {
  width: 55vw;
  margin-bottom: 1.5rem;
  color: var(--clr-font);
}

.experience .experience__content .experience__list {
  max-width: 55vw;
  margin-bottom: 2.5rem;
  color: #818ba9;
  list-style-type: disc;
}

.contact {
  min-height: 70vh;
  padding-bottom: 5rem;
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact .title {
  text-align: center;
  text-transform: capitalize;
  font-size: 1.7rem;
  padding-bottom: 1.7rem;
}

.contact .contact__content {
  margin-top: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact .contact__content .contact__paragraph {
  color: var(--clr-font);
  max-width: 50vw;
  margin-bottom: 3.25rem;
  color: #818ba9;
}

.contact .contact__content .btn {
  text-transform: uppercase;
  background: transparent;
  letter-spacing: var(--spacing);
  display: inline-block;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid;
  cursor: pointer;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  color: var(--clr-font);
  border-color: var(--clr-font);
  padding: 0.7rem 1.5rem;
  font-weight: bold;
}

.contact .contact__content .btn:hover {
  background: var(--clr-font);
  opacity: 0.7;
  color: black;
}

.contact .icons {
  padding: 2em 0 0 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.contact .icons .icnos__icon {
  font-size: 2.5rem;
  color: var(--clr-font);
}

.contact .icons .icnos__icon:hover {
  opacity: 0.7;
  color: var(--clr-first);
}

.footer {
  padding: 3rem;
  margin: 0 auto;
  background-color: #060b12;
}

.footer .footer__paragraph {
  color: var(--clr-font);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
  .about .about__content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about .about__content p {
    padding: 2em;
    max-width: 40vw;
  }
  .about .about__content img {
    max-width: 45vw;
  }
}

@media screen and (min-width: 1000px) {
  body {
    font-size: 1rem;
    line-height: 2;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-header__toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-font);
    font-size: 1.1rem;
    letter-spacing: var(--spacing);
    display: block;
    -webkit-transition: var(--transition);
    transition: var(--transition);
    margin: 0rem 1rem;
    font-weight: bold;
    padding: 0;
  }
  section {
    width: 70vh;
  }
}
/*# sourceMappingURL=main.css.map */