.about {
  .title {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: solid 1px var(--clr-font);
  }
  .about__content {
    margin-top: 1em;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    max-width: 80vw;
    .about__paragraph {
      color: var(--clr-font);
      max-width: 80vw;
      margin-bottom: 1.25rem;
      color: #818ba9;
    }
    .about__image {
      max-width: 20vw;
      min-width: 150px;
      max-height: 35vh;
    }
  }
}
@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
  .about {
    .about__content {
      flex-direction: row;
      align-items: center;
      p {
        padding: 2em;
        max-width: 40vw;
      }
      img {
        max-width: 45vw;
      }
    }
  }
}
