.header {
  min-height: 100vh;
  margin-top: 3.5em;
  .nav {
    background-color: var(--clr-bg);
    opacity: 0.7;
    padding: 1em 1.5em;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    box-shadow: 0 1.2px 3px black;
    .nav-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .links__scroll {
        background: var(--clr-bg);
        color: var(--clr-font);
        font-size: 1.1rem;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        font-weight: bold;
        padding: 0.75rem 0;
      }
      .links__scroll:hover {
        color: var(--clr-first);
      }
      .nav-header__toggle {
        font-size: 1.5rem;
        color: var(--clr-font);
        background: transparent;
        border-color: transparent;
        transition: var(--transition);
        cursor: pointer;
      }
      .nav-header__toggle:hover {
        color: var(--clr-first);
      }
    }
    .links-container {
      height: 0;
      overflow: hidden;
      transition: var(--transition);
      .links__scroll {
        background: var(--clr-bg);
        color: var(--clr-font);
        font-size: 1.1rem;
        letter-spacing: var(--spacing);
        display: block;
        transition: var(--transition);
        font-weight: bold;
        padding: 0.75rem 0;
      }
      .links__scroll:hover {
        color: var(--clr-first);
      }
    }
  }
  .banner {
    min-height: 80vh;
    padding: 1em;
    display: grid;
    place-items: center;
    text-align: center;
    .banner__title {
      color: var(--clr-font);
      font-size: 3rem;
    }
    .banner__paragraph {
      color: var(--clr-font);
      font-size: 1.3em;
      max-width: 60rem;
      margin: 0 auto;
      margin-top: 1em;
      margin-bottom: 2.5rem;
      color: #818ba9;
    }
    .btn {
        text-transform: uppercase;
        background: transparent;
        letter-spacing: var(--spacing);
        display: inline-block;
        transition: var(--transition);
        font-size: 0.875rem;
        border: 2px solid;
        cursor: pointer;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: var(--radius);
        color: var(--clr-font);
        border-color: var(--clr-font);
        padding: 0.7rem 1.5rem;
        font-weight: bold;
      }
      .btn:hover {
        background: var(--clr-font);
        opacity: 0.7;
        color: black;
      }
  }
}
