@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --clr-bg: #0a192f;
  --clr-font: #64ffda;
  --clr-first: rgb(37, 152, 156);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
html {
  scroll-behavior: smooth;
  font-size: 14px;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border:1px solid red */ 
}
body {
  display: grid;
  place-items: center;
  font-family: var(--ff-secondary);
  background: var(--clr-bg);
  color: var(--clr-font);
  line-height: 1.8;
  
}
section {
  min-height: 100vh;  
  padding-bottom: 3rem;
  width: 70vw;
  margin: 0 auto;
  max-width: 1170px;
}
a {
  text-decoration: none;
}
ul {
  list-style-type: none;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@media screen and (min-width: 768) {
  html {
    font-size: 15px;
  }
}
@media screen and (min-width: 1000px) {
  html {
    font-size: 16px;
  }
  body {
    font-size: 1rem;
    line-height: 2;
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header__toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-font);
    font-size: 1.1rem;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0rem 1rem;
    font-weight: bold;
    padding: 0;
  }
  
}
