.projects {
  .title {
    text-align: center;
    text-transform: capitalize;
    font-size: 1.5rem;
    border-bottom: solid 1px var(--clr-font);
    padding-bottom: 1rem;
  }
  section {
    min-height: 100vh;
    padding-bottom: 3rem;
    width: 70vw;
    margin: 0 auto;
    max-width: 1170px;
  }
  max-width: 80vw;
  .projects__content {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .projects__maincontent {
      border-radius: 1rem;
      .projects__btncontainer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        margin-bottom: 2em;
        min-width: 65vw;
        .tab-btn {
          background-color: var(--clr-bg);
          color: var(--clr-font);
          padding: 1rem 0;
          margin-bottom: 2rem;
          border: none;
          text-transform: capitalize;
          font-size: 1rem;
          display: block;
          cursor: pointer;
          transition: 0.8s;
        }
        .tab-btn:hover:not(.active) {
          background-color: var(--clr-font);
          color: var(--clr-bg);
          border-left-color: var(--clr-bg);
          border-right-color: var(--clr-bg);
        }
        .tab-btn.active {
          background-color: var(--clr-font);
          color: var(--clr-bg);
        }
      }
      .content {
        display: none;
        .btn {
          text-transform: uppercase;
          background: transparent;
          letter-spacing: var(--spacing);
          display: inline-block;
          transition: var(--transition);
          font-size: 0.875rem;
          border: 2px solid;
          cursor: pointer;
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
          border-radius: var(--radius);
          color: var(--clr-font);
          border-color: var(--clr-font);
          padding: 0.7rem 1.5rem;
          font-weight: bold;
        }
        .btn:hover {
          background: var(--clr-font);
          opacity: 0.7;
          color: black;
        }
        .btn {
          display: block;
          text-align: center;
          margin-top: 2rem;
          width: fit-content;
        }
        .content__paragraph {
          display: flex;
          flex-direction: column;
          align-items: center;
          max-width: 60vw;
          color: #818ba9;
          span {
            color: var(--clr-font);
          }
        }
        .content__links {
          width: 30vw;
          display: flex;
          flex-direction: row-reverse;
          margin: 1em;
          justify-content: space-evenly;
          align-items: center;
          flex-wrap: wrap;
        }
      }
      .content.active {
        display: grid;
        place-items: center;
      }
    }
  }
}
